.App {
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  margin-right: 20px;
  pointer-events: none;
  animation: none; /* Elimina la animación */
}

.App-header {
 /* background-color: #f0f4f8; /* fondo claro */
  background-color: white ; /* gris azulado elegante */
  min-height: auto; /* antes era 100vh */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #333;
  min-height: auto;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #22c55e;
  text-align: center;
  width: 100%;
}



.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #22c55e; /* verde tipo botón Sign in */;
}

main {
  margin-top: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.logout-button {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Cambia a left: 20px si prefieres */
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

